@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg:#000608;
 --color-primary: #071a20;
  --color-secondary: #ed0707;
  --color-accent: #C7E2B2;
  --color-text: #E1FFC2;
  --color-text-secondary: #0e4355;
  --color-fill :#0f68ce;

}
.font1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}
.font2 {
 font-family: "Bangers", system-ui;
}

.font3 {
 font-family: "Edu VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}